<div class="hero">
    <img src="{{ imageUrl }}" class="hero__image" />
    <div class="hero__content">
        <h1 class="hero__title">{{ title }}</h1>
    </div>
    <div class="hero__content">
        <h3 class="hero__subtitle">{{ subtitle }}</h3>
    </div>
</div>