{{render '@header--default' header}}

<section class="content">
  <div class="content__section">
    <h1>Majestic Wine &mdash; Replatform</h1>
    <p>
      <em>
        <strong>Possibly the most exciting and challening project I worked on to date.</p> <p></strong>
      </em>
    </p>

    <p>It took us months of hard work but I'm pleased to say <em>it paid off</em>.</p>
    <ol>
      <li>
        <a href="#overview">Overview</a>
        <ul>
          <li><a href="#my-role-on-the-team">My role on the team</a></li>
          <li><a href="#business-as-usual">Business as usual</a></li>
        </ul>
      </li>
      <li>
        <a href="#design">Design</a>
        <ul>
          <li><a href="#design-objectives">Objectives</a></li>
          <li><a href="#design-approach">Design approach</a></li>
          <li><a href="#">Tools</a></li>
        </ul>
      </li>
      <li>
        <a href="#development-preparation">Development Preparation</a>
        <ul>
          <li><a href="#">Approach</a></li>
          <li><a href="#">Front-end tech stack</a></li>
          <li><a href="#">Recruitment</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Kick off</a>
        <ul>
          <li><a href="#">Project plan</a></li>
          <li><a href="#">Challenges</a></li>
          <li><a href="#">Done is better than perfect</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Release</a>
        <ul>
          <li><a href="#">To release or not to release</a></li>
          <li><a href="#">Peak performance</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Retrospective</a>
      </li>
    </ol>
  </div>

  <div class="content__section">
    <h2 id="overview">Overview</h2>
    <p>Majestic e-commerce website was first re-built back in 2011 by a third-party agency and it was pretty innovative at that time &mdash; it had a slick design and a dedicated mobile site.</p>
    <p>As the business grew, the requirements have changed and the website had to adopt. One of the biggest problems, however, was the fact that our website has been mainatined by an agacny and making code chagnes was expensive.</p>
    <p>Back in 2015, Majestic <a href="http://www.bbc.co.uk/news/business-32246651">acquired</a> a company called Naked Wines &mdash; a relatively small tech company with an excellent development team.</p>
    <p>The guys at Naked Wines have built an amazing plaftorm for their e-commerce site and naturally we wanted it too.</p>
    <h3 id="my-role-on-the-team">My role on the team</h3>
    <p>I joined Majestic in April 2016 to help with the replatform project. My official job title was lead front-end developer but since Majestic didn't really have an in-house development team I was responsible for the UX and visual design as well as the front-end build.</p>
    <p>We quickly managed to form a small team that consisted of a UX lead, front-end developer and myself.</p>
    <p>In the first coupe of months our focus was on a smaller project &mdash; optimising the mobile site, introducing new delivery options and improving the checkout flow for the peak season.</p>
    <p>More importantly though, it was an opportunity for me to get to know the team and understand how the business operates.</p>
    <h3 id="business-as-usual">Business as usual</h3>
    <p>Majestic updates their website very frequently so we couldn't dedicate 100% time on the new and shiny stuff.</p>
    <p>The amount of changes we had to make on the current site was huge &mdash; our developer was occupied for most of his time and couldn't focus on the main project as much as we wanted &mdash; we knew we had to do something about it.</p>
    <p>Within couple of weeks we managed to optimise some processes. That helped a lot.</p>
    <h2 id="design">Design</h2>
    <p>First we had an inception meeting followed by couple of rounds of requirements gathering we were ready to work on the initial designs.</p>
    <h3 id="design-objectives">Objectives</h3>
    <p>Majestic design team has done an amazing job over the last couple of years by updaing the brand across all of our marketing materials.</p>
    <p>Most of our stores have been revamped the brand truly consistent in store and online.</p>
    <p>Naturally, we wanted to make sure the new website follows the same guidelines. In fact, <em>we wanted to make sure our customers get the same great experience online as they do in store</em>.</p>
    <h3 id="design-approach">Design Approach</h3>
    <p>We've spent some time in stores talkig to the staff and customers &mdash; we wanted to understand what they love about Majestic.</p>
    <p>Then we reviewd Majestic brand guides and through all brochures, direct mail, email designs etc. to identify any design patterns that weren't documented. We ended up with a pretty solid understanding what we're aiming for.</p>
    <p>Our deadlines were tight &mdash; we couldn't afford to revise that home page desing over and over again until it was perfect.</p>
    <p>We took a different approach instead. We asked ourselves <q>what's the minimum we need to deliver to get some feedback?</q> We started small &mdash; buttons, form elements, typography, and we asked for feedback as soon as we had something to show.</p>
    <p>We could then move onto slightly bigger pieces like the header, footer, carousel etc.</p>
    <p>This constant feedback loop ensured we were on the right track all of the time.</p>
    <h3 id="tools">Tools</h3>
    <p>Our choice for the design tool was Sketch &mdash; layer styles and symbol features worked really well with our componet-based approach. It was a no brainer.</p>
    <p>We had to find a way to share our designs and capture feedback quickly &mdash; it's a busy environment and getting all stakeholders in one room wasn't always feasible. We decided to give Invision App a go and it worked perfectly.</p>
    <p>Once the final designs were signed off we then exported them to Zeplin, more on that later.</p>
    <h2 id="development-preparation">Development Preparation</h2>
    <p>We've looked at various ways to do this project and decided that Atomic Design was the right fit for this project.</p>
  </div>
</section>

<script src="http://localhost:3100/js/global.bundle.js"></script>